body{
    background-image: url(./assets/cronometro.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2vh);
}

.container {
    width: 60vh;
    height: 40vh;
    margin: 150px 480px;
    text-align: center;
    padding: 20px 10px;
    border-radius: 80px;
    background-color: black;
    border: 2px solid #3498db;
}

h1 {
    color: #000;
    font-size: 40px;
    font-family: 'Chakra Petch';
    background-color: rgb(202, 199, 199);
    border: 2px solid #fff;
    border-radius: 8px;
    margin-bottom: 80px;
    
}

button {
    display: inline-block;
    margin-inline: 15px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #3498db;
    border-radius: 15px;
    color: #ffffff;
    background-color: #3498db;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    color: #ffffff;
    border: 1px solid gray;
    cursor: pointer;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);

