body{
    background-image: url(./assets/cronometro.jpg);
    background-size: 145%;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    margin: 200px auto;
    max-width: 100%;
}

h1 {
    color: white;
    font-size: 50px;
}

button {
    font-size: 20px;
    text-align: center;
    height: 2.3em;
    width: 5.5em;
    border-radius: 5px;
    padding: 0 10px;
    margin-left: 25px;
    color: black;
    border: 1px solid gray;
    cursor: pointer;
}

.init-btn {
    background-color: rgb(4, 158, 4);
}

.pause-btn {
    background-color: yellow;
}

.stop-btn {
    background-color: red;
}